//자주 사용할 값 정의
$gray: #999;
$white: #fff;
$green: #690;
$bc-black: #2c2a29;
$pink: #d73a7a;
$black: #000;
$blue: #1e245c;
$brown: #b9813e;
$bc-trans: transparent;
$text-und: underline;

//자주 사용할 구문 함수 정의
@mixin bodyDefault {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}    
@mixin listNone {
    list-style: none;
    margin: 0;
    padding: 0;
}    
@mixin float ($x) {
    float: $x;
}    
@mixin floatNone {
        float: none;
        content: '';
        clear: both;
        display: block;
} 
@mixin relative {
    position: relative;
}
@mixin absolute($x, $y){
    position: absolute;
    top: $y;
    left: $x;
}
@mixin animation {
    transition: all 1s;
}
@mixin btn ($a){
    width: 100px;
    padding: 10px 12px;
    cursor: pointer;
    text-align: center;
    border: 2px solid $a;
    border-radius: 5px;
    background: $bc-trans;
    color: $a;
    @content
}
@mixin hoverBtn ($a, $b){
    a{color: $a;}
    &:hover{
            a{color: $b;};
            background-color: $a;
            text-decoration: $text-und;
            @include animation();
            }
}
body,html{
    @include bodyDefault()
}
ul{
    @include listNone()
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: $text-und;
    }
}
nav{
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
    height: auto;
    background-color: #f6f5ef;
}
.nav{
    width: 80%;
    height: 120px;
    @include relative();
    .logo{
        @include float(left);
        @include absolute(25%, 20%)
    }
    .nav-top{
        &::before{
            @include floatNone();
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        a{
            font-size: 13px;
            padding: 5px;
            color: #555;
            &:last-child::after, &:nth-child(4)::after{
              content: '';
            }
            &::after{
                content: '|';
                padding: 8px;
            }
        }
        a img{
            background-color: $white;
            padding: 5px;
            border: 1px solid gainsboro;
            border-radius: 5px;
            width: 20px;
        }
    }
    .nav-main{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        a{
            font-size: 15px;
            color: #555;
            margin: 0 20px;
            padding: 10px 10px 30px 10px;
            &:hover{
                color: $green;
                background-color: $bc-black;
            }
        }
    }
    @at-root .nav-hidden{
        display: flex;
        flex-direction: column;
        background-color: $bc-black;
        width: 100%;
        height: auto;
        @include relative();
        >ul{
            width: 1200px;
        }
        li{
            width: 225px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            @include float(left);

            &:after{
                @include floatNone();
            }
            a{
                flex-direction: column;
                color: $gray;
                margin: 5px 0;
                font-size: 12px;
                &:first-child{
                    color: $white;
                    font-size: 14px;
                }
            }
        }
        @at-root .hidden-text{
            height: auto;
            background-image: url(../img/nav/nav-hidden-backgroundimg.jpg);
            background-size: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            >a{
                color: $gray;
                font-weight: bolder;
                font-size: 12px;

            }
            >span{
                color: $green;
                font-size: 12px;
            }
        }
        display: none;
    }
}
.fixed{
    @include relative();
    div{
        position: fixed;
        z-index: 99999;
        top: 16%;
        left: 82%;
        &:last-child{
            top: 26%;
        }
    }
}
.main{
    background: url(../img/main/main-backgroundimg.jpg) no-repeat;
    margin-top: 120px;
    background-size: cover;
    height: 646px;
    background-position: 63% bottom;
    @include relative();
    .main-title{
        @include absolute(20%, 8%);
        z-index: 1;
    }
    .punch{
        @include absolute(28%, 35%);
        z-index: 1;
    }
    .mint{
        @include absolute(39%, 13%);
        z-index: 1;
    }
    .tea{
        @include absolute(66%, 20%);
        z-index: 1;
    }
    .main-btn{
        @include btn ($pink);
        @include hoverBtn($pink, $white);
        @include absolute(25%, 43%)

    }
}
.rewards{
    background-color: #1e3932;
    .ttl-line{
        background-color: $black;
        @include float(left);
        width: 50%;
        padding: 15px 0;
        text-align: center;
        >span{
            color: $white;
            font-weight: bolder;
        }
        >a{
            color: $white;
            font-size: 14px;
            padding: 0 10px;
            >img{
                width: 36px;
                @include float(right);
                &:after{@include floatNone();}
                margin-right: 20px;
            }
        }
    }
    .pro-line{
        background-color: #f6f5ef;
        text-align: center;
        &:after{
            @include floatNone();
        }
        a{
            padding: 10 20px;
        }
        .pro-btn{
            margin-left: 15px;
            margin-top: 15px;
        }
    }
    .rew-item{
        display: flex;
        justify-content: center;
        color: $white;
        >img{
            width: 172px;
            height: 152px;
        }
        .rew-text{
            a:first-child{
                @include btn($white);
                background-color: #00704a;
            }
            a{
                @include btn($white);
            }
        }
    }
}